<div class="info-card">
	{% if info_card.src %}
		<div class="info-card__image">
			<img src="{{ info_card.src }}" alt="{{ info_card.alt }}">
		</div>
	{% endif %}

	{% if info_card.title %}
		<h3 class="info-card__title">
			{{ info_card.title }}
		</h3>
	{% endif %}

	{% if info_card.body %}
		<div class="info-card__body">
			{{ info_card.body }}
		</div>
	{% endif %}

	{% if info_card.link.url %}
		<div class="info-card__link">
			<a href="{{ info_card.link.url }}">{{ info_card.link.text }}</a>
		</div>
	{% endif %}
</div>
