{#
/**
 * @file
 * Default theme implementation to display a Pardot form.
 *
 * Available variables:
 * - action_url: The URL to use for form submission.
 * - message: A message to display on form submit.
 * - fields: An array of fields keyed by the Pardot id of the field.
 *    - label: the field label
 *    - type: the field type
 *    - required: boolean indicator that field is required
 *
 * @see template_preprocess_bglobal_pardot_form()
 *
 * @ingroup themeable
 */
#}
{% block form %}

  <form action="{{ action_url }}" method="post" xmlns="http://www.w3.org/1999/html">
    {% for key, field in fields %}
      <div class="{{ key }}">
        <label>
          {{ field.label }}
          {% if field.required %} * {% endif %}
        </label>
        {% set required = '' %}
        {% if field.required %}
          {% set required = 'required="required"' %}
        {% endif %}
        {% if field.type == 'textarea' %}
          <textarea rows={{ field.rows }} cols={{ field.cols }} name="{{ key }}" {{ required }}/></textarea>
        {% elseif field.type == 'select' %}
          <select name="{{ key }}" {{ required }} />
          {% for option in field.options %}
            {% set selected = '' %}
            {% if option == field.default_value %}
              {% set selected = 'selected' %}
            {% endif %}
            <option value="{{ option }}" {{ selected }}>{{ option }}</option>
          {% endfor %}
          </select>
        {% else %}
          <input type="{{ field.type }}" name="{{ key }}" {{ required }}/>
        {% endif %}
      </div>
    {% endfor %}
    <div class="submit">
    <input type="submit" value="{{ submit_label }}" />
    </div>
    <div style="position:absolute; left:-9999px; top: -9999px;">
      <label for="pardot_extra_field">Comments</label>
      <input type="text" id="pardot_extra_field" name="pardot_extra_field">
    </div>
  </form>

{% endblock form %}
