{#
/**
 * @file
 * Default theme implementation to display a Pardot form.
 *
 * Available variables:
 * - action_url: The URL to use for form submission.
 * - message: A message to display on form submit.
 * - fields: An array of fields keyed by the Pardot id of the field.
 *    - label: the field label
 *    - type: the field type
 *    - required: boolean indicator that field is required
 *
 * @see template_preprocess_bglobal_pardot_form()
 *
 * @ingroup themeable
 */
#}
{% block form %}

  <form id="pardot-form" action="{{ action_url }}" method="post" xmlns="http://www.w3.org/1999/html">
    {% for key, field in fields %}

      {% set default_value = '' %}
      {% if field.default_value %}
        {% set default_value = field.default_value %}
      {% endif %}

      {% if field.type != 'hidden' %}
      <div class="pardot-form pardot-form-{{ key }} pardot-form-{{ field.type }}">
        {% if field.type != 'checkbox' %}
        <label for="{{ key }}">
          {{ field.label }}
          {% if field.required %} * {% endif %}
        </label>
        {% endif %}

        {% set required = '' %}
        {% if field.required %}
          {% set required = 'required="required"' %}
        {% endif %}

        {% if field.type == 'textarea' %}
          <textarea rows={{ field.rows }} cols={{ field.cols }} name="{{ key }}" id="{{ key }}" {{ required }}/></textarea>

        {% elseif field.type == 'select' %}
          <select name="{{ key }}" id="{{ key }}" {{ required }} />
          {% for option in field.options %}
            {% set selected = '' %}
            {% if option == field.default_value %}
              {% set selected = 'selected' %}
            {% endif %}
            <option value="{{ option }}" {{ selected }}>{{ option }}</option>
          {% endfor %}
          </select>

        {% else %}
          <input type="{{ field.type }}" value="{{ default_value }}" name="{{ key }}" id="{{ key }}" {{ required }} />
        {% endif %}

        {% if field.type == 'checkbox' %}
          {% if field.description %}
             <label for="{{ key }}" class="pardot-form-{{ field.type }}--label">
              {{ field.description }}
              {% if field.required %} * {% endif %}
            </label>
          {% endif %}
        {% endif %}
      </div>
      {% else %}
        <input type="{{ field.type }}" id="pardot-hidden-{{ key }}" value="{{ default_value }}" name="{{ key }}" id="{{ key }}" {{ required }} />
      {% endif %}
    {% endfor %}

    <div class="pardot-form-submit">
      <input type="submit" value="{{ submit_label }}" />
    </div>

    <div style="position:absolute; left:-9999px; top: -9999px;">
      <label for="pardot_extra_field">Comments</label>
      <input type="text" id="pardot_extra_field" name="pardot_extra_field">
    </div>

  </form>

{% endblock form %}
