<nav class="primary-navbar" id="primary-navbar">
  <div class="navbar-elements mobile-collapse collapse" aria-label="Site navigation" id="navbar-elements">
    <ul class="main-menu nav">
      {% for item in main_menu %}
      <li class="menu-link dropdown nav-item">
        <button class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          {{ item.label }}
        </button>
        
        {% if item.children %}
        <ul class="primary-navbar_submenu dropdown-menu">
          {% for column in item.children %}
          <li class="megamenu-wrapper">
            {# @TODO // Determine if we need 'columns' to be a data point or if we can organize it via css. Current implementation matches live site w/ column wrappers. #}
            <div class="megamenu-column">
              {% for child in column.children %}
              <ul class="megamenu-submenu">
                <li class="megamenu-submenu_title">
                  {{ child.label }}
                  {# @TODO // This ul was moved inside of the parent li for hierarchy purposes. Determine if this is a workable solution (likely dependent on drupal implementation) #}
                  {% if child.children %}
                  <ul class="megamenu-submenu_links">
                    {% for grandchild in child.children %}
                    <li class="leaf menu-link-{{ grandchild.label|replace(" ", "-")|lower }}">
                      <a class="dropdown-item" {% if grandchild.off_site %}target="_blank" rel="noopener noreferrer"{% endif %} href="{{ grandchild.href }}">{{ grandchild.label }} {% if grandchild.off_site %}<span class="fa fa-external-link-alt"></span>{% endif %}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
              </ul>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
