<div class="panorama">
	<div class="panorama-image">
		{# Drupal's image field will be connected here #}
		{{ panorama.img }}

		{#
		Or we can do it like this:
		<img src="{{ panorama.img.src }}" alt="{{ panorama.img.alt }}">
		 #}
	</div>
	<div class="panorama-content">
		{% if panorama.body %}
			<div class="panorama-content--body">
				{{ panorama.body }}
			</div>
		{% endif %}

		{% if panorama.link.url %}
			<div class="panorama-content--cta">
				<a href="{{ panorama.link.url }}" class="{{ panorama.link.classes }}">{{ panorama.link.text }}</a>
			</div>
		{% endif %}
	</div>
</div>
