{# Source:
  /web/modules/custom/bglobal_angular/components/info_sessions_list/template.html
#}
<div class="events {{ event_type }}"> {# FIGURE THIS OUT #}
  <h2 class="events__header block-header">Info Sessions</h2>
  <ul class="events__list">{% for session in sessions %} {# FIGURE THIS OUT, should be "event" #}
    <li class="event__list__item"> 
      <div class="event__list__item--left">
        <div class="event__date">
          <span class="event__date__month">{{ session.jsDate.month }}</span> <span class="event__date__day">{{ session.jsDate.day }}</span>
        </div>
      </div>
      <div class="event__list__item__body">
        <span class="event__title">
          <a clsss="event__link" href="{{ session.enroll }}">{{ session.title }}</a>
        </span>
     </div>
    </li>{% endfor %}
  </ul>
  <a clsss="more-link" href="/">More Info Sessions</a>
</div>
