<hr class="line-light mb-5"/>
<div id="curriculum">
  <h2>Curriculum</h2>

  <!-- START Tabs -->
  <div class="pdp-tabs-container">
    <input type="radio" name="pdp-tab" id="pdp-tab-1" checked>
    <input type="radio" name="pdp-tab" id="pdp-tab-2">
    <input type="radio" name="pdp-tab" id="pdp-tab-3">
    
    <div class="pdp-tabs-wrapper">
      <label for="pdp-tab-1" class="label-tab-1">Data Analytics <span>Full-Time Certificate</span></label>
      <label for="pdp-tab-2" class="label-tab-2">Data Analytics <span>Full-Time Certificate</span></label>
      <label for="pdp-tab-3" class="label-tab-3">Data Analytics <span>Professional Diploma Program</span></label>  
    </div>

    <hr class="line-light pdp-tab-line d-mobile-none" />
    <!-- END Tabs -->

    <!-- START Tab Content: CERT 1 -->
    <div class="pdp-tab pdp-tab-1">
      <div class="grid-col-2-1">
        <div id="program-1">
          <h3>Data Analytics Full-Time Certificate</h3>
          <p>Learn to collect, process, analyze and interpret data in order to develop actionable business insights. Expand your skills by learning how to leverage statistics, data mining and big data to develop strategies in marketing, retail, health care, finance and other fields.</p>
          <!-- Prerequisites -->
          <div class="accordion__item">
            <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Prerequisites
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <p>Knowledge of statistics (fulfill this prerequisite by taking Introduction to Statistics online).</p>
              </div>
            </div>
          </div>

          <!-- Courses -->
          <div class="accordion__item">
            <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Core Courses
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <ul>
                  <li>
                    <p><a>Introduction to Data Analytics</a> | COMPSCI X407.9</p>
                  </li>
                  <li>
                    <p><a>Introduction to Databases</a> | COMPSCI X409.1</p>
                  </li>
                  <li>
                    <p><a>Data Analytics and Visualization</a> | COMPSCI X465</p>
                  </li>
                  <li>
                    <p><a>Programming Python</a> | COMPSCI X434</p>
                  </li>
                  <li><a href="https://voices.berkeley.edu/international/preparing-students-next-step-their-careers" tab="_blank" rel="noreferrer noopener">Career Development Fundamentals</a> | BUS ADM 2054 </li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- program benefits -->
          <div class="accordion__item">
            <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Program Benefits
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <ul>
                  <li>Remote internship with a Bay Area company ($3,000 USD additional fee)</li>
                  <li>Certificate of completion</li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- outcomes -->
          <div class="accordion__item">
            <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Outcomes
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <ul>
                  <li>Understand statistics, coding, data mining, visualization and reporting.</li>
                  <li>Extract and analyze data using tools such as tables, charts, pivot tables, statistical analysis, R, Python, databases and SQL.</li>
                </ul>
              </div>
            </div>
          </div>
          <p><a data-ng-href="{{ program.appUrl }}" class="btn  mt-5 btn-success btn-lg">APPLY NOW</a></p>
        </div>
        <div class="structure-immersive-outcomes">
          <table class="table table-light mt-4 align-self-end text-left" id="structure-immersive1">
            <caption>Live Online Data Analytics</caption>
            <tr class="font-size-sm">
              <th scope="row">Length</th>
              <td>1 semester</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Format</th>
              <td>Full-time online study</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Courses</th>
              <td><p>4 core</p><p>1.5 units CEU</p></td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Offered</th>
              <td>Fall and Spring</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Prerequisite</th>
              <td>3 years undergrad</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row"><strong>Tuition and fees</strong></th>
              <td><strong>$8,000 (USD)</strong></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- END Tab Content: CERT 1 -->

    <!-- START Tab Content: CERT 2 -->
    <div class="pdp-tab pdp-tab-2">
      <div class="grid-col-2-1">
        <div id="program-2">
          <h3>Data Science Full-Time Certificate</h3>
          <p>Learn to perform advanced data wrangling, data mining, statistical modeling and machine learning on data sets that may be very large and complex. Prepare for a data scientist role by analyzing large quantities of unstructured historical data to develop innovative solutions to complex business problems.</p>
          <!-- Prerequisites -->
          <div class="accordion__item">
            <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Prerequisites
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <p>Completion of the:</p>
                <ul><li><a>Data Analytics Full-Time Certificate</a></li></ul>
                <p>Or</p>
                <ul>
                  <li><a>Introduction to Data Analytics</a> | COMPSCI X407.9</li>
                  and
                  <li>Ability to program in at least one high-level programming language. You can complete this prerequisite by taking one of the following online courses before applying:
                    <ul>
                      <li><a>C++ Programming</a> | EL ENG X412.1</li>  
                      <li><a>Introduction to C Language Programming</a> | EL ENG X24</li>  
                      <li><a>JavaScript and jQuery: An Introduction</a> | COMPSCI X452.1</li>  
                      <li><a>First Course in Java</a> | EL ENG X429.9</li>  
                      <li><a>Programming Python</a> | COMPSCI X434</li>  
                      <li><a>Introduction to Computers and Programming</a> | COMPSCI X444.4</li>  
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Courses -->
          <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Core Courses
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <ul>
                  <!-- repeat list of core courses -->
                  <li>
                    <p><a>Introduction to Data Science</a> | COMPSCI X415.2</p>
                    <p><a>Python for Data Analysis and Scientific Computing</a> | COMPSCI X433.3</p>
                    <p><a>Introduction to Big Data</a> | COMPSCI X409.2</p>
                    <p><a>Business Intelligence With SQL Server</a> | EL ENG X404.8</p>
                    <p><a>Career Development Leadership Skills</a> | BUS ADM 2055</p>
                  </li>
                  <li><a href="https://voices.berkeley.edu/international/preparing-students-next-step-their-careers" tab="_blank" rel="noreferrer noopener">Career Development Leadership Skills</a> | BUS ADM 2055 </li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Program Benefits -->
          <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Program Benefits
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <ul>
                  <li>Remote internship with a Bay Area company ($3,000 USD additional fee)</li>
                  <li>Certificate of completion</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Outcomes -->
          <div class="accordion__title-wrapper">
              <h5 class="accordion__title">
                <button type="button" class="accordion__button"
                  aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}"
                  aria-controls="accordion--{{ loop.index }}">
                  Outcomes
                </button>
              </h5>
            </div>
            <div id="accordion--{{ loop.index }}"
                 class="accordion__content-wrapper{% if item.expanded %} expanded{% endif %}">
              <div class="accordion__content">
                {# {{ item.content }} #}
                <ul>
                <!-- repeat outcomes in program -->
                  <li>Perform advanced data wrangling, data mining, statistical modeling and machine learning on large, complex data sets.</li>
                  <li>Run data collection and cleaning, modeling, evaluation, visualization, reporting and deployment.</li>
                  <li>Develop solutions using Spark, R, Python, TensorFlow, relational databases and SQL.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- app link -->
          <p><a class="btn mt-5 btn-success btn-lg">APPLY NOW</a></p>
        </div>
        <div class="structure-immersive-outcomes">
          <table class="table table-light mt-4 align-self-end text-left" id="structure-immersive2">
            <caption>Live Online Data Science</caption>
            <tr class="font-size-sm">
              <th scope="row">Length</th>
              <td>1 semester</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Format</th>
              <td>Full-time online study</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Courses</th>
              <td><p>4 core</p><p>1.5 units CEU</p></td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Offered</th>
              <td>Fall and Spring</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Prerequisite</th>
              <td>3 years undergrad</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row"><strong>Tuition and fees</strong></th>
              <td><strong>$8,000 (USD)</strong></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- END Tab Content: CERT 2 -->

    <!-- START Tab Content: PDP -->
    <div class="pdp-tab pdp-tab-3">
      <div class="grid-col-2-1">
        <div id="program-3">
          <h3>Data Science Professional Diploma Program With Specialization Electives</h3>
          <p>Complete the coursework in the <strong>Data Analytics </strong> and <strong>Data Science</strong> certificates, and take 4 additional semester units to complete this program.</p>
          <!-- Subject area course list -->
          <!-- <%@ include file="/international/professional/common/liveOnline-courses.jsp"%> -->          
          <!-- data-if program.agile -->
          <div class="tab">
            <input type="checkbox" id="pdp-agile-courses-1" />
            <label class="tab-label card-title" for="pdp-agile-courses-1">Semester 1</label>
            <div class="tab-content panel">
              <!-- data-ng-if="program.agile" -->
              <ul>
                <li><a href="/search/publicCourseSearchDetails.do?method=load&courseId=40372&showSections=false">Agile Principles and Practices</a></li>
                <li><a href="https://extension.berkeley.edu/">Elective of your choice</a> from our catalog</li>
              </ul>
            </div>
          </div>

          <div class="tab" data-ng-if="program.agile">
            <input type="checkbox" id="pdp-agile-courses-2" />
            <label class="tab-label card-title" for="pdp-agile-courses-2">Semester 2</label>
            <div class="tab-content panel">
              <!-- data-ng-if="program.agile" -->
              <ul>
                <li><a href="/search/publicCourseSearchDetails.do?method=load&courseId=40329&showSections=false">Project Leadership and Building High-Performing Teams</a></li>
                <li><a href="https://extension.berkeley.edu/">Elective of your choice</a> from our catalog</li>
              </ul>
            </div>
          </div>
          <!-- data-ng-if="!program.agile" -->
          <div class="tab">
            <input type="checkbox" id="pdp-courses-1" />
            <label class="tab-label card-title" for="pdp-courses-1">Semester 1</label>
            <div class="tab-content panel">
              <!-- data-ng-if="!program.agile" -->
              <ul data-ng-if="!program.agile">
                <li><a href="https://extension.berkeley.edu/" target="_blank" rel="noopener noreferrer">Elective of your choice</a> from our catalog</li>
                <li><a href="https://extension.berkeley.edu/">Elective of your choice</a> from our catalog</li>
              </ul>
            </div>
          </div>
          <!-- data-ng-if="!program.agile" -->
          <div class="tab">
            <input type="checkbox" id="pdp-courses-2" />
            <label class="tab-label card-title" for="pdp-courses-2">Semester 2</label>
            <div class="tab-content panel">
          <!-- data-ng-if="!program.agile" -->
              <ul>
                <li><a href="https://extension.berkeley.edu/" target="_blank" rel="noopener noreferrer">Elective of your choice</a> from our catalog</li>
              </ul>
            </div>
          </div>
          
          <!-- data-ng-if="program.capstone" -->
          <h3 >Capstone Portfolio Course</h3>
          <!-- data-ng-if="program.capstone" -->
          <p>To show off your new Data Analtics and Data Science skills, you'll create a comprehensive portfolio of work that can be shown to employers. You'll work with your instructor to gather all of your printed and digital materials and strategically combine them into a professional portfolio. This will help you market yourself and gain a competitive edge as you prepare for your <a href="#internships">internship</a> and <a href="#internships-opt">Optional Practical Training</a>.</p>
          <a data-ng-href="{{ program.appUrl }}" class="btn btn-success btn-lg mt-5">APPLY NOW</a>
        </div>
        <div>
          <table class="table table-light mt-4 align-self-end text-left" id="structure-immersive3">
            <caption>Live Online Data Science</caption>
            <tr class="font-size-sm">
              <th scope="row">Length</th>
              <td>2 semesters</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Format</th>
              <td>Full-time online study</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row">Courses</th>
              <td>
                <p>8 core</p>
                <p>{{ program.numberElectives}} elective</p>
                <p data-ng-if="program.ceu">3 units CEU</p>
                <p data-ng-if="program.capstone">1 capstone</p>
              </td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row" style="white-space: nowrap">Internship Option</th>
              <td>Yes</td>
            </tr>
            <tr class="font-size-sm">
              <th scope="row"><strong>Tuition and Fees</strong></th>
              <td><p><strong>$16,000 (USD) plus the cost of the internship and electives</strong></p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- END Tab Content: PDP -->
  </div>
  
</div>