{% set classes = [
  'button ',
    buttonClasses ? buttonClasses,
] | merge(classes|default([])) %}

<a class="{{ classes|join(' ') }}" href="{{ url }}">
	{{ text }}
</a>
{# 
<a class="classes|join(' ')|trim" href="{{ url }}">
  {{ text }}
</a>
 #}
